<!-- start custom footer snippets -->

<a href="/sitemap/">Sitemap</a>

{% assign load_mathjax = page.mathjax %}
{% assign load_mermaid = page.mermaid %}
{% assign load_plotly = page.plotly %}
{% if page.url contains '/markdown/' %}
  {% assign load_mathjax = true %}
  {% assign load_mermaid = true %}
  {% assign load_plotly = true %}
{% endif %}

{% if load_mathjax %}
<!-- Support for MathJax -->
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>
{% endif %}

{% if load_plotly %}
<!-- Support for Plotly -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.0.1/plotly.min.js"></script>
{% endif %}

{% if load_mermaid %}
<!-- Support for Mermaid -->
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
  mermaid.initialize({startOnLoad: true, theme: 'default'});
  await mermaid.run({querySelector: 'code.language-mermaid'});
</script>
{% endif %}

<!-- end custom footer snippets -->
