---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap scholar-note">
  You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}

{% include base_path %}

<h2>Conference Papers</h2>

<ol class="bibliography">
  {% bibliography --query @inproceedings %}
</ol>

<h2>Journal Articles &amp; Preprints</h2>

<ol class="bibliography">
  {% bibliography --query @article %}
</ol>
